!!! 5
%html
  %head
    %title Coursegrapher
    %link(rel="stylesheet" href="/css/style.css")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    %script(type="text/javascript" src="http://www.google.com/jsapi")
    %script(type="text/javascript" src="/js/chart.js")
  %body
    = yield
    .content
      #chart_div
      .sidebar
        %h3{:class => "vote"}How to use:
        %a{:href => "http://www.youtube.com/watch?v=1orvb9isiK4#t=00m25s&start=25", :rel => "vidbox 800 600", :title => "A demo of CourseGrapher", :style => "padding:0px; margin-left:-10px;"}
          %img{:style => "background:url('http://src.sencha.io/260/195/http://img.youtube.com/vi/1orvb9isiK4/0.jpg');", :width => "260", :height => "195", :src => "http://vote.2011f.pennapps.com/play_overlay.png"}

        %p
          Please note that CourseGrapher is in no way affiliated with Penn Course Review, the UA, or representatives of either body. CourseGrapher is based on experimental data.
