.hidden {
  display: none;
}

#chart_div {
  width: 950px;
  height: 450px;
  position: relative;
  float: left;
}

.sidebar {
  position: relative;
  float: right;
  width: 250px;
  height: 100%;
  border-left: thin solid rgba(155,155,155,.5);
  padding-left: 10px;
  background-color: rgba(200,200,200,.15);
}

.content {
  position: relative;
  margin: 15px;
  min-height: 400px;
  width: 1250px;
}
